{% extends 'management/base.html' %}
{% block main %}
    This platform support:
    <ul>
        <li>1. Manage many provider accounts. On multi cloud, we can:</li>
        <li>2. Create an application on docker container or virtula machine (database app for instance)</li>
        <li>3. Manage your application, such as: Optmize delivery app on multi clouds, connect/disconnect to internet,
            connect to private net
        </li>
        <li>4. Manage network on multi cloud to help more than one app can connect to other one in a private network
        </li>
        <li>And many many amazing features base one callib(Cloud Abstract Layer library)
    </ul>
{% endblock %}