{% extends 'management/base.html' %}
{% block main %}
<div style="padding: 20px; color: #00CC00">
    Sau đây là những dòng tâm tư tình cảm trong quá trình xây dựng CAL APP mà tôi đã đúc rút ra đó là
    <ul>
        <li>1. Xây dựng 1 mình rất mệt</li>
        <li>2. Việc đọc hiểu tham khảo các kiến trúc khác hằng ngày giúp bạn làm cái mới nhanh hơn</li>
        <li>3. Nếu bạn giảm tối thiểu khả năng xảy ra của một vấn đề, thì bạn không bao là là kẻ thua cuộc!!</li>
    </ul>
</div>
{% endblock %}