{% extends 'management/base.html' %} {% block main %}
<div class="panel-body">
    <ul class="nav nav-tabs">
        <html>
        <li class="active"><a href="#list" data-toggle="tab">List view</a>
        </li>
        <li class=""><a href="#catalog" data-toggle="tab">Catalog view</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="list">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#myModal" style="float: right; margin: 5px;"
                    onclick="list_provider();">
                        New App
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Create new application</h4>
                                </div>
                                <form action="{{ request.build_absolute_uri }}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <fieldset id="network" style="display:inherit">
                                            <div class="form-group">
                                                <label>NAME</label>
                                                <input class="form-control" name="name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>DOCKER IMAGE:TAG</label>
                                                <input class="form-control" name="docker-image" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>LIST PORTS</label>
                                                <input class="form-control" name="ports" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>START SCRIPT</label>
                                                <input class="form-control" name="start-script" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>Select Cloud</label>
                                                <select class="form-control" id="list-provider"
                                                        name="provider-id"
                                                        onclick="list_network();">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Select Network</label>
                                                <select class="form-control" id="list-network"
                                                        name="network-id">
                                                </select>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Create" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Configuration</th>
                                            <th>IP Address</th>
                                            <th>State</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- TABLE ITEMS-->
                                    {% for app in apps %}
                                    <tr>
                                        <td name="name">{{ app.name }}</td>
                                        <td name="config">
                                            {% autoescape off %}
                                                {{ app.config }}
                                            {% endautoescape %}
                                        </td>
                                        <td name="ip">
                                            <a href="#" data-toggle="modal"
                                               data-target="#show-app-{{ app.id }}">
                                                IPAdress: {{ app.ip }}
                                            </a>
                                            <div class="modal fade" id="show-app-{{ app.id }}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="show-app-{{ app.id }}-Label"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title"
                                                                id="show-app-{{ app.id }}-Label">
                                                                IPAdress: {{ app.ip }}
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            This is content of body
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td name="state">{{ app.state }}</td>
                                        <td style="text-align: center">
                                            <div class="btn-group">
                                                <!-- EDIT -->
                                                <button class="btn btn-primary"
                                                        data-toggle="modal"
                                                        data-target="#edit-{{ app.id }}">
                                                    Edit
                                                </button>
                                                <div class="modal fade" id="edit-{{ app.id }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="edit-{{ app.id }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="edit-{{ app.id }}-Label">Edit
                                                                    provider</h4>
                                                            </div>
                                                            <form action="{{ request.build_absolute_uri }}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="id"
                                                                       value="{{ app.id }}">
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group"
                                                                             style="width: 100%;">
                                                                            <label style="float: left">NAME</label>
                                                                            <input class="form-control" type="text"
                                                                                   value="{{ app.name }}"
                                                                                   name="name" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group"
                                                                             style="width: 100%;">
                                                                            <label style="float: left">Open Ports</label>
                                                                            <input class="form-control" type="text"
                                                                                   value="{{ app.ports }}"
                                                                                   name="ports" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group"
                                                                             style="width: 100%;">
                                                                            <label style="float: left">Start Script</label>
                                                                            <input class="form-control" type="text"
                                                                                   value="{{ app.start_script }}"
                                                                                   name="start-script" style="width: 100%;">
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Save"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button data-toggle="dropdown"
                                                        class="btn btn-primary dropdown-toggle"><span
                                                        class="caret"></span></button>
                                                <ul class="dropdown-menu" style="text-align: left">
                                                    <!-- DELETE -->
                                                    <li><a href="#"
                                                           data-toggle="modal"
                                                           data-target="#migrate-app-{{ app.id }}">
                                                        Migrate
                                                    </a></li>
                                                    <li><a href="#"
                                                           data-toggle="modal"
                                                           data-target="#delete-app-{{ app.id }}">
                                                        Delete
                                                    </a></li>
                                                </ul>
                                                <div class="modal fade" id="delete-app-{{ app.id }}"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="delete-app-{{ app.id }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="delete-app-{{ app.id }}-Label">Delete
                                                                    app</h4>
                                                            </div>
                                                            <form action="{% url 'delete-app' %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <div class="modal-body">
                                                                    Do you really want to delete
                                                                    <span style="color: #428bca">{{ app.name }}</span>
                                                                    app?
                                                                </div>
                                                                <input type="hidden" name="id"
                                                                       value="{{ app.id }}">
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Yes"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="migrate-app-{{ app.id }}"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="migrate-app-{{ app.id }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="migrate-app-{{ app.id }}-Label">Migrate
                                                                    app</h4>
                                                            </div>
                                                            <form action="{% url 'migrate-app' %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <div class="modal-body">
                                                                    Do you really want to migrate
                                                                    <span style="color: #428bca">{{ app.name }}</span>
                                                                    app?
                                                                </div>
                                                                <input type="hidden" name="id"
                                                                       value="{{ app.id }}">
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Yes"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="catalog">
            <h4>Catalog</h4>
            <p>This will show you catalog and status, config that present for each app</p>
        </div>
    </div>
</div>
{% endblock %}