<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="{% block html_language_code %}en{% endblock %}">
<head>
<title>Federated Cloud Application Platform</title>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{% static 'management/base/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'management/base/css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="{% static 'management/base/js/jquery-1.7.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'management/base/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'management/base/js/easing.js' %}"></script>
<script src="{% static 'management/base/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<link href="{% static 'management/base/css/easy-responsive-tabs.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'management/base/css/global.css' %}">

<script src="{% static 'management/base/js/slides.min.jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'management/base/js/startstop-slider.js'%}"></script>

{% block javascript %}
{% endblock %}

</head>
<body>
  <div class="wrap">
      <div class="header">
          {% include 'management/header.html' %}
          {% include 'management/banner.html' %}
          {% include 'management/nav-bar.html' %}
      </div>
      <div class="main">
          <div class="content">
            {% block main %}{% endblock %}
          </div>
     </div>
  </div>
{#  {% include "management/footer.html" %}#}
</body>
</html>
