<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FCAP</title>
    <!-- BOOTSTRAP STYLES-->
    {% load static %}
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet"/>
    <link href="{%  static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
<nav class="header black-bg">
    <a href="/app/" class="logo">
        <i class="fa fa-cogs fa-2x" data-placement="right"></i>
        <b>&nbsp; &nbsp; Federated Cloud Application Platform</b>
    </a>
    <div class="pull-right logout">
        <ul>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
            <li>
                <a href="#">Đặng Văn Đại</a>
            </li>
        </ul>
    </div>
</nav>
<aside>
    <nav class="navbar-default navbar-side" role="navigation" style="position: fixed;">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    {% load static %}
                    <img src="{% static 'assets/img/cloud_computing.png' %}" class="user-image img-responsive"/>
                </li>
                <li>
                    <a class="active-menu" href="/app/">
                        <i class="fa fa-qrcode fa-3x"></i>
                        Apps
                    </a>
                </li>
                <li>
                    <a href="/network/">
                        <i class="fa fa-sitemap fa-3x"></i>
                        Networks
                    </a>
                </li>
                <li>
                    <a href="/provider/">
                        <i class="fa fa-cloud fa-3x"></i>
                        Providers
                    </a>
                </li>
                <li>
                    <a href="/about/">
                        <i class="fa fa-rss fa-3x"></i>
                        About
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner" style="margin-top: 80px;">
        <div class="panel panel-default">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
{% load static %}
<script src="{% static 'assets/js/jquery-1.10.2.js'  %}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- METISMENU SCRIPTS -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>

<script src="{% static 'assets/js/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/js/dataTables/dataTables.bootstrap.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable({
            'pageLength': 5,
            "lengthMenu": [5, 10, 15, 20, 25]
        });
    });
</script>

</body>
</html>
