{% block javascript %}
{% load static %}
<link rel="stylesheet" href="{% static 'management/base/css/popup.css' %}">
{% endblock %}
<button type="button" class="button" style="float: right; margin-right: 5px;">
	<a href="#popup1" style="color: white;">Add Provider</a>
</button>
<button type="button" class="button" style="float: right; margin-right: 5px;">Delete Providers</button>
<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="form-style-2">
		<div class="form-style-2-heading">Fill full network info</div>
		<form action="{{ request.build_absolute_uri }}" method="post">
			{% csrf_token %}
			<div>
			<label for="name">
				<span>Name <span class="required">*</span></span>
				<input type="text" class="input-field" name="name" value="" />
			</label>
			<label for="config">
				<span>JSON config <span class="required">*</span></span>
				<input type="text" class="textarea-field" name="config" value=""/>
			</label>
			</div>
			<label><span>&nbsp;</span><input type="submit" value="Add"/></label>
		</form>
		</div>
    </div>
</div>
</script>
