{% block javascript %}
{% load static %}
<link rel="stylesheet" href="{% static 'management/base/css/popup.css' %}">
{% endblock %}
<button type="button" class="button" style="float: right; margin-right: 5px;">
	<a href="#popup1" style="color: white;">New Network</a>
</button>
<button type="button" class="button" style="float: right; margin-right: 5px;">Delete Networks</button>
<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="form-style-2">
		<div class="form-style-2-heading">Fill full network info</div>
		<form action="{{ request.build_absolute_uri }}" method="post">
			{% csrf_token %}
			<label for="name">
				<span>Name <span class="required">*</span></span>
				<input type="text" class="input-field" name="name" value="" />
			</label>
			<label for="cidr">
				<span>CIDR <span class="required">*</span></span>
				<input type="text" class="input-field" name="cidr" value="" />
			</label>
			<label for="provider">
				<span>Provider <span class="required">*</span></span>
				<select class="select-field" name="provider">
				  <option value="OPS1">Cong hoa xa hoi chu nghia Viet Nam</option>
				  <option value="OPS2">OPS2</option>
				  <option value="AWS1">AWS1</option>
				</select>
			</label>

			<label><span>&nbsp;</span><input type="submit" value="Submit"/></label>
		</form>
		</div>
    </div>
</div>
</script>
