{% load static %}
<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li><a href="/app">Apps</a></li>
			    	<li><a href="/network">Networks</a></li>
			    	<li><a href="/provider">Providers</a></li>
                    <li><a href="/about">About</a></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
    </div>