{% extends 'management/base.html' %}
{% block main %}
<div class="panel-body">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#list" data-toggle="tab">List view</a>
        </li>
        <li class=""><a href="#visual" data-toggle="tab">Visual view</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="list">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#myModal"
                            style="float: right; margin: 5px;"
                            onclick="list_provider();">
                        New Network
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Create new network</h4>
                                </div>
                                <form action="{{ request.build_absolute_uri }}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <fieldset id="network" style="display:inherit">
                                            <div class="form-group">
                                                <label>NAME</label>
                                                <input class="form-control" name="name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>CIRD (Classless Inter-Domain Routing)</label>
                                                <input class="form-control" name="cidr" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>Select Cloud</label>
                                                <select class="form-control" id="list-provider" name="provider-id">
                                                </select>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Create"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover"
                                           id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>CIDR</th>
                                            <th>Provider</th>
                                            <th>Security_group</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="visual">
                <h4>Visual</h4>
                <p>Visual network</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // AJAX for posting
    function list_provider() {
        $.ajax({
            url : "{% url 'list-provider' %}",
            type : "GET",

            success : function(response) {
//                $('#list-provider').val(''); // remove the value from the input
//                for (i = 0; i < response.length; i++) {
//                        $("#list-provider").append("<option value="ops">"response[i]);
//                }
                $('#list-provider').html(response);
            }
        });
    };
</script>
{% endblock %}