{% extends 'management/base.html' %}
{% block main %}
<div class="panel-body">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#list" data-toggle="tab">List view</a>
        </li>
        <li class=""><a href="#visual" data-toggle="tab">Visual view</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="list">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#myModal"
                            style="float: right; margin: 5px;"
                            onclick="list_provider();">
                        New Network
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Create new network</h4>
                                </div>
                                <form action="{{ request.build_absolute_uri }}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <fieldset id="network" style="display:inherit">
                                            <div class="form-group">
                                                <label>NAME</label>
                                                <input class="form-control" name="name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>CIRD (Classless Inter-Domain Routing)</label>
                                                <input class="form-control" name="cidr" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>Select Cloud</label>
                                                <select class="form-control" id="list-provider" name="provider-id">
                                                </select>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Create"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover"
                                       id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">Name</th>
                                        <th style="text-align: center">CIDR</th>
                                        <th style="text-align: center">Provider</th>
                                        <th style="text-align: center">Connect External</th>
                                        <th style="text-align: center">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- TABLE ITEMS-->
                                    {% for network in networks %}
                                    <tr>
                                        <td name="name">{{ network.name }}</td>
                                        <td name="cidr">{{ network.cidr }}</td>
                                        <td name="provider-id">
                                            <a href="#" data-toggle="modal"
                                               data-target="#show-provider-{{ network.id }}">
                                                {{ network.provider_name }}
                                            </a>
                                            <div class="modal fade" id="show-provider-{{ network.id }}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="show-provider-{{ network.id }}-Label"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title"
                                                                id="show-provider-{{ network.id }}-Label">
                                                                {{ network.provider_name }}
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% autoescape off %}
                                                                {{ network.provider_config }}
                                                            {% endautoescape %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td name="enable" style="text-align: center">
                                            <!--ON/OFF SWITCH MODE-->
                                            <label class="switch">
                                                <form action="{{ request.build_absolute_uri }}"
                                                      method="post" id="enable-{{ network.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ network.id }}">
                                                    <input type="hidden" name="check-enable" value="1">
                                                    <input type="checkbox" name="check"
                                                           {% if network.connect_external != 0 %} checked {% endif %}
                                                           onchange="document.forms['enable-{{ network.id }}'].submit();">
                                                    <div class="slider round"></div>
                                                </form>
                                            </label>
                                        </td>
                                        <td style="text-align: center">
                                            <div class="btn-group">
                                                <!-- EDIT -->
                                                <button class="btn btn-primary"
                                                        data-toggle="modal"
                                                        data-target="#edit-{{ network.id }}">
                                                    Edit
                                                </button>
                                                <div class="modal fade" id="edit-{{ network.id }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="edit-{{ network.id }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="edit-{{ network.id }}-Label">Edit
                                                                    provider</h4>
                                                            </div>
                                                            <form action="{{ request.build_absolute_uri }}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="id"
                                                                       value="{{ network.id }}">
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group"
                                                                             style="width: 100%;">
                                                                            <label style="float: left">Name</label>
                                                                            <input class="form-control" type="text"
                                                                                   value="{{ network.name }}"
                                                                                   name="name" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group"
                                                                             style="width: 100%;">
                                                                            <label style="float: left">CIDR</label>
                                                                            <input class="form-control" type="text"
                                                                                   value="{{ network.cidr }}"
                                                                                   name="cidr" style="width: 100%;">
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Save"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button data-toggle="dropdown"
                                                        class="btn btn-primary dropdown-toggle"><span
                                                        class="caret"></span></button>
                                                <ul class="dropdown-menu" style="text-align: left">
                                                    <!-- DELETE -->
                                                    <li><a href="#"
                                                           data-toggle="modal"
                                                           data-target="#delete-network-{{ network.id }}">
                                                        Delete
                                                    </a></li>
                                                </ul>
                                                <div class="modal fade" id="delete-network-{{ network.id }}"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="delete-network-{{ network.id }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="delete-network-{{ network.id }}-Label">Delete
                                                                    provider</h4>
                                                            </div>
                                                            <form action="{% url 'delete-network' %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <div class="modal-body">
                                                                    Do you really want to delete
                                                                    <span style="color: #428bca">{{ network.name }}</span>
                                                                    network?
                                                                </div>
                                                                <input type="hidden" name="id"
                                                                       value="{{ network.id }}">
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Yes"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="visual">
            <h4>Visual</h4>
            <p>Visual network</p>
        </div>
    </div>
</div>
{% endblock %}