{% extends 'management/base.html' %}
{% block main %}
<div class="panel-body">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#" data-toggle="tab">Have a nice day!</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="">
            <div class="row">
                <!-- NEW PROVIDER BUTTON-->
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#myModal"
                            style="float: right; margin: 5px;">
                        New Provider
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Create new provider</h4>
                                </div>
                                <form action="{{ request.build_absolute_uri }}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" type="text" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label>Select Cloud</label>
                                                <select class="form-control"
                                                        onclick="java_script_:show(this.options[this.selectedIndex].value)">
                                                    <option value="ops">OpenStack</option>
                                                    <option value="aws">Amazon</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <!--To help detect watch cloud they already pushed-->
                                        <input type="hidden" id="cloud" value="ops" name="cloud">
                                        <fieldset id="ops" style="display:inherit">
                                            <div class="form-group">
                                                <label>PROJECT DOMAIN NAME</label>
                                                <input class="form-control" name="os_project_domain_name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>USER DOMAIN ID</label>
                                                <input class="form-control" name="os_user_domain_name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>PROJECT NAME</label>
                                                <input class="form-control" name="os_project_name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>USERNAME</label>
                                                <input class="form-control" name="os_username" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>PASSWORD</label>
                                                <input class="form-control" name="os_password" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>AUTH URL</label>
                                                <input class="form-control" name="os_auth_url" type="text">
                                            </div>
                                        </fieldset>
                                        <fieldset id="aws" style="display:none">
                                            <div class="form-group">
                                                <label>AWS ACCESS KEY ID</label>
                                                <input class="form-control" name="aws_access_key_id" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>AWS SECRET ACCESS KEY</label>
                                                <input class="form-control" name="aws_secret_access_key" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>REGION NAME</label>
                                                <input class="form-control" name="region_name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>ENDPOINT URL</label>
                                                <input class="form-control" name="endpoint_url" type="text">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Create"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TABLE, ITEMS, ON/OFF SWITCH MODE, EDIT, DELETE-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover"
                                       id="dataTables-example">
                                    <thead>
                                    <!-- TABLE COLUMNS-->
                                    <tr>
                                        <th style="text-align: center">Name</th>
                                        <th style="text-align: center">Configuration</th>
                                        <th style="text-align: center">Enable</th>
                                        <th style="text-align: center;  width: 140px;">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- TABLE ITEMS-->
                                    {% for column in table %}
                                    <tr>
                                        <td name="name">{{ column.1 }}</td>
                                        <td name="config">
                                            {% autoescape off %}
                                            {{ column.2.format }}
                                            {% endautoescape %}
                                        </td>
                                        <td name="enable" style="text-align: center">
                                            <!--ON/OFF SWITCH MODE-->
                                            <label class="switch">
                                                <form action="{{ request.build_absolute_uri }}"
                                                      method="post" id="enable-{{ column.0 }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ column.0 }}">
                                                    <input type="hidden" name="check-enable" value="1">
                                                    <input type="checkbox" name="check"
                                                           {% if column.3 != 0 %} checked {% endif %}
                                                           onchange="document.forms['enable-{{ column.0 }}'].submit();">
                                                    <div class="slider round"></div>
                                                </form>
                                            </label>
                                        </td>
                                        <td style="text-align: center">
                                            <div class="btn-group">
                                                <!-- EDIT -->
                                                <button class="btn btn-primary"
                                                        data-toggle="modal"
                                                        data-target="#edit-{{ column.0 }}">
                                                    Edit
                                                </button>
                                                <div class="modal fade" id="edit-{{ column.0 }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="edit-{{ column.0 }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="edit-{{ column.0 }}-Label">Edit
                                                                    provider</h4>
                                                            </div>
                                                            <form action="{{ request.build_absolute_uri }}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="id"
                                                                       value="{{ column.0 }}">
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">Name</label>
                                                                            <input class="form-control" type="text"
                                                                                   value="{{ column.1}}"
                                                                                   name="name" style="width: 100%;">
                                                                        </div>
                                                                        {% if column.4 == 'ops' %}
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">PROJECT DOMAIN NAME</label>
                                                                            <input class="form-control"
                                                                                   name="os_project_domain_name"
                                                                                   value="{{ column.2.os_project_domain_name}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">USER DOMAIN ID</label>
                                                                            <input class="form-control"
                                                                                   name="os_user_domain_name"
                                                                                   value="{{ column.2.os_user_domain_name}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">PROJECT NAME</label>
                                                                            <input class="form-control"
                                                                                   name="os_project_name"
                                                                                   value="{{ column.2.os_project_name}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">USERNAME</label>
                                                                            <input class="form-control"
                                                                                   name="os_username" type="text"
                                                                                   value="{{ column.2.os_username}}"
                                                                                   style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">AUTH URL</label>
                                                                            <input class="form-control"
                                                                                   name="os_auth_url"
                                                                                   value="{{ column.2.os_auth_url}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        {% endif %}
                                                                        {% if column.4 == 'aws' %}
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">AWS ACCESS KEY ID</label>
                                                                            <input class="form-control"
                                                                                   name="aws_access_key_id"
                                                                                   value="{{ column.2.aws_access_key_id}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">REGION NAME</label>
                                                                            <input class="form-control"
                                                                                   name="region_name"
                                                                                   value="{{ column.2.region_name}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        <div class="form-group" style="width: 100%;">
                                                                            <label style="float: left">ENDPOINT URL</label>
                                                                            <input class="form-control"
                                                                                   name="endpoint_url"
                                                                                   value="{{ column.2.endpoint_url}}"
                                                                                   type="text" style="width: 100%;">
                                                                        </div>
                                                                        {% endif %}
                                                                    </fieldset>
                                                                    <!--To help detect watch cloud they already pushed-->
                                                                    <input type="hidden" id="edit-cloud" value="{{ column.4 }}"
                                                                           name="cloud">
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Save"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button data-toggle="dropdown"
                                                        class="btn btn-primary dropdown-toggle"><span
                                                        class="caret"></span></button>
                                                <ul class="dropdown-menu" style="text-align: left">
                                                    <!-- DELETE -->
                                                    <li><a href="#"
                                                           data-toggle="modal"
                                                           data-target="#delete-provider-{{ column.0 }}">
                                                        Delete
                                                    </a></li>
                                                </ul>
                                                <div class="modal fade" id="delete-provider-{{ column.0 }}"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="delete-provider-{{ column.0 }}-Label"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"
                                                                    id="delete-provider-{{ column.0 }}-Label">Delete
                                                                    provider</h4>
                                                            </div>
                                                            <form action="{% url 'delete-provider' %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <div class="modal-body">
                                                                    Do you really want to delete
                                                                    <span style="color: #428bca">{{ column.1 }}</span>
                                                                    provider?
                                                                </div>
                                                                <input type="hidden" name="id"
                                                                       value="{{ column.0 }}">
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Cancel
                                                                    </button>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Yes"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function show(obj) {
        var clouds = ["ops", "aws"];
        for (var i = 0, len = clouds.length; i < len; i++) {
            document.getElementById(clouds[i]).style.display = "none";
        }
        document.getElementById(obj).style.display = "inherit";
        document.getElementById('cloud').value = obj;
    }
    function edit(obj) {
        var clouds = ["edit-ops", "edit-aws"];
        for (var i = 0, len = clouds.length; i < len; i++) {
            document.getElementById(clouds[i]).style.display = "none";
        }
        document.getElementById(obj).style.display = "inherit";
        document.getElementById('edit-cloud').value = obj;
    }
</script>
{% endblock %}