<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Federated Cloud Application Platform</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'authentication/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'authentication/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'authentication/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'authentication/css/style-responsive.css' %}" rel="stylesheet">
</head>

<body>

<nav class="header black-bg">
    <a href="/app/" class="logo">
        <i class="fa fa-cogs fa-2x" data-placement="right"></i>
        <b>&nbsp; &nbsp; Federated Cloud Application Platform</b>
    </a>
</nav>

<div id="login-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <form class="form-login" action="" method="post">
                    {% csrf_token %}
                    {% block main %}
                    {% endblock %}
                </form>
            </div>
            <div class="col-sm-4">
                <div class="form-login" style="background: transparent;
                    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
                    <h2 class="form-login-heading" style="background: transparent;">
                        Free
                    </h2>
                    <h2 class="form-login-heading" style="background: transparent;">
                        Easy to manage many applications
                    </h2>
                    <h2 class="form-login-heading" style="background: transparent;">
                        Distribute smartly application on clouds
                    </h2>
                    <h2 class="form-login-heading" style="background: transparent;">
                        Make the most of your own cloud resources
                    </h2>
                    <h2 class="form-login-heading" style="background: transparent;">
                        Supported by expert engineering 24/7
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- js placed at the end of the document so the pages load faster -->
{% load static %}
<script src="{% static 'authentication/js/jquery.js' %}"></script>
<script src="{% static 'authentication/js/bootstrap.min.js' %}"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="{% static 'authentication/js/jquery.backstretch.min.js' %}"></script>
<script>
    $.backstretch("{% static 'authentication/img/isometricBG_5.jpg' %}", {speed: 500});
</script>


</body>
</html>