{% extends 'authentication/index.html' %}
{% block main %}
<h2 class="form-login-heading">sign up now</h2>
<div class="login-wrap">
    <input type="text" class="form-control" placeholder="First Name" name="firstname" autofocus>
    <br>
    <input type="text" class="form-control" placeholder="Last Name" name="lastname">
    <br>
    <input type="text" class="form-control" placeholder="Login User" name="username">
    <br>
    <input type="password" class="form-control" placeholder="Password" name="password1">
    </br>
    <button class="btn btn-theme btn-block" type="submit"><i
            class="fa fa-lock"></i> SIGN UP
    </button>
    <hr>
    <div class="registration">
        Already registered?<br/>
        <a class="" href="/auth/login">
            Sign in now
        </a>
    </div>
</div>
{% endblock %}